   <!-- {% if settings.collection_tags %}        
          {% if collection.all_tags.size > 0 %}
          <div class="browse-tags">
          	<label>Sort By</label>
          	<select id="collection_tags" class="coll-filter">
          			  <option value="manual">All</option>
          		{% for tag in collection.all_tags %}
          			<option value="{{ tag | handle }}"{% if current_tags contains tag %} selected="selected"{% endif %}>{{ tag }}</option>
          		{% endfor %}
          	</select>        
          </div>
          {% endif %}        
        {% endif %}-->
      
       <div class="browse-tags">
            <label>{{ 'collections.sorting.title' | t }}</label>
          	<select class="sort-by">
          	  <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
              <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
              <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
          
              <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
              <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
          	</select>           
          </div> 
    