
<!-- spurit_po-added -->
{% include 'spurit_po-product-snippet' %}


<div class="sixteen columns">
  <div class="clearfix breadcrumb">
    <div class="right mobile_hidden">
      {% if collection.previous_product %}
        {% capture prev_url %}{{ collection.previous_product }}{% endcapture %}
        {{ 'products.general.previous_product_html' | t | link_to: prev_url }}
        {% if collection.next_product %}&nbsp; | &nbsp;{% endif %}
      {% endif %}

      {% if collection.next_product %}
        {% capture next_url %}{{ collection.next_product }}{% endcapture %}
        {{ 'products.general.next_product_html' | t | link_to: next_url }}
      {% endif %}
    </div>

    <div class="breadcrumb_text">
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
      &nbsp; / &nbsp;
      <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
        {% if collection %}
          <a href="{{ collection.url }}" title="{{ collection.title | escape }}">{{ collection.title }}</a>
        {% else %}
          <a href="/collections/all" title="{{ collections.all.title }}">{{ collections.all.title }}</a>     
        {% endif %}
      </span>
      &nbsp; / &nbsp; 
      {{ product.title }}
    </div>
  </div>
</div>


<!-- /spurit_po-added -->
<div class="fixed_width" id="product">
  <div class="product">


  <div class="full_width" itemscope itemtype="http://data-vocabulary.org/Product">
    <div id="product-{{ product.id }}">



	<div class="full_width">
	  
           
       <div class="product_left">
         {% include 'product-images' %}
        </div>


     <div class="product_right">
       <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
     {%if product.handle contains 'lenzo-iphone-6-plus-6s-plus-housing-pre-order'%} 
       <p class="preorder_text">PRE-ORDER YOUR LENZO™ iPHONE 6 PLUS / 6S PLUS NOW!</p>
       {%endif%}
       {% if settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
       {% endif %}
       
<!-- ------------------------------------------------------------- Product Review form  --> 
 <div class="yotpo bottomLine"
data-appkey="PL7dHtqeP3YmccCBYZQVoNTpq1EuJkyItFbMS8FN"
data-domain="{{ shop.permanent_domain | escape }}"
data-product-id="{{ product.id }}"
data-product-models="{{ product.id }}"
data-name="{{ product.title | escape }}"
data-url="{{ page.url }}"
data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
data-description="{{ product.description | escape }}"
data-bread-crumbs="{% for tag in product.tags %}{{ tag | escape }};{% endfor %}">
</div>      
<!-- ------------------------------------------------------------- Product Review form  -->
       
       
      {% assign variant = product.selected_or_first_available_variant %}
      <p class="modal_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
         <meta itemprop="currency" content="{{ shop.currency }}" />
         <meta itemprop="seller" content="{{ shop.name | escape }}" />
         <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
         
         <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
         <span itemprop="price" id="price-tag" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price">
              {% if variant.available %}
                {{ variant.price | money }} 
              {% endif %}
            </span>
         </span>
         <span class="was_price">
          {% if variant.price < variant.compare_at_price %}
            {{ variant.compare_at_price | money }}
          {% endif %}
         </span>
      </p>

<!-- ------------------------------------------------------------- Product form   -->
       <div class="product-form">
       {% include 'product-form' with 'product' %}
       </div>
<!-- ------------------------------------------------------------- Product form   -->

       {% include 'product-notify-me' %}

      <!-- {% if settings.product_description_position == "top" %}
         {% if product.description != blank %}
          <div class="description" itemprop="description">
            {{ product.description | split: '<!-- split -->' | first }}
          </div>
        {% endif %}
       {% endif %}

       

       {% if settings.product_description_position == "bottom" %}
         {% if product.description != blank %}
          <div class="description" itemprop="description">
           {{ product.description | split: '<!-- split -->' | first }}
          </div>
         {% endif %}
       {% endif %} -->
       
       
          {% include 'single-product-tab' %}

      {% if settings.display_collections or settings.display_tags or settings.display_type %}
   
      {% endif %}
     
       <div class="meta">
         {% if settings.display_collections %}
           <p>
             <span class="label">{{ 'products.product.collections' | t }}:</span> 
             <span>
              {% for col in product.collections %}
                <a href="{{ col.url }}" title="{{ col.title }}">{{ col.title }}</a>{% unless forloop.last %},{% endunless %} 
              {% endfor %}
            </span>
          </p>
         {% endif %}
       
         {% if settings.display_tags %}
            <p>
              {% for tag in product.tags %}
                {% if forloop.first %}
                  <span class="label">{{ 'products.product.tags' | t }}:</span> 
                {% endif %}

                {% unless tag contains 'meta-related-collection-' %}
                  <span>
                    <a href="/collections/{% if collection %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handle }}" title="{{ 'products.product.products_tagged' | t: tag: tag }}">{{ tag }}</a>{% unless forloop.last %},{% endunless %}
                  </span>
                {% endunless %} 
              {% endfor %}
            </p>
         {% endif %}
       
        {% if settings.display_type %}
           <p>
             <span class="label">{{ 'products.product.product_types' | t }}:</span> 
             <span itemprop="category">{{ product.type | link_to_type }}</span>
           </p>
        {% endif %}
       </div>
<div class="social_media_share_icons">
      {% include "social-buttons" with "product" %}  
       </div>
    </div>
      
<!--  single product tab     -->
     
<!--  single product tab     -->
      
      
    {% if settings.product_images_position == 'right' %}   
      <div class="{% if settings.product_sidebar %}six{% else %}eight{% endif %} columns {% if product-images == blank %}{% if settings.product_images_position == 'left' %}alpha{% else %}omega{% endif %}{% endif %}">          
     
        {% include "social-buttons" with "product" %}
      </div>
    {% endif %}
  </div>


  {% if product.description contains "<!-- split -->"  %}
  
    <div class="section clearfix">
      <div class="description">
        {{ product.description | split: '<!-- split -->' | last }}
      </div>
    </div>
  {% endif %}
  </div>
  
</div>

  </div>
  
  
  <div class="full_width" id="productimags">

           {% include 'product-horizontal-images' %}
  </div>
  <div class="full_width" id="related_products">
    

    
    {%include 'related-products'%}
  </div>
  
<!-- ------------------------------------------------------------- Product Review form  -->      
<div class="yotpo yotpo-main-widget"
    data-product-id="{{ product.id }}"
    data-name="{{ product.title | escape }}"
    data-url="{{ shop.url }}{{ product.url }}"
    data-image-url="{{ product.featured_image | product_img_url: "large" |replace: '?', '%3F' | replace: '&','%26'}}"
    data-description="{{ product.description | escape }}">
</div>    
<!-- ------------------------------------------------------------- Product Review form  -->

</div>

<!-- <script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/PL7dHtqeP3YmccCBYZQVoNTpq1EuJkyItFbMS8FN/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script> -->

<script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/PL7dHtqeP3YmccCBYZQVoNTpq1EuJkyItFbMS8FN/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>

