<div id="collection">

  {% paginate collection.products by settings.pagination_limit %}
  <!-- Begin collection info -->
  <div class="row">
    <div class="collection-header">

      <!-- Begin breadcrumb -->
      
      <div class="breadcrumb clearfix">
        <div id="breadcrumb">
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="url"><span itemprop="title">{{ 'general.breadcrumbs.home' | t }}</span></a></span>
        <span class="arrow-space">&#62;</span>
        <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="url"><span itemprop="title">{{ collection.title }}</span></a></span>

        {% if current_tags %}
          {% for tag in current_tags %}
            <span class="arrow-space">&#62;</span>
            <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="url"><span itemprop="title">{{ tag }}</span></a></span>
          {% endfor %}
        {% endif %}

      </div>
      </div>
      <!-- End breadcrumb -->

            <!-- Begin sort collection -->
     <!-- <div class="clearfix">
        <div class="col-top-header">
        <h1 class="collection-title">{{ collection.title }}</h1>
           
       </div>
      </div> -->
      <!-- End sort collection -->
       
         <div class="collection_img">  
    {% if collection.image %}<img src = "{{ collection.image | img_url: 'original' }}"/>{% endif %}
            </div>
      
      
      <!-- Begin collection description -->
      <!--{% if collection.description != "" %}
        {{ collection.description }}
      {% endif %} -->
      <!-- End collection description -->

    </div>
  </div>
  <!-- End collection info -->

  {% if collection.products.size == 0 %}

    {% include 'helper-default-products' %} 

  {% endif %}
<div id="collection-section">
   <div id="collection-left">
     {%include 'collection-sidebar' %}
  </div>
  <div id="collection-right">
   <div class="collection-right-header-wrapper">
    <div class="collection-right-header">
    <div class="product-count"><p>{{ products_count }} Products</p></div>
  


 
      <div id="pagination">{% include 'pagination' %}</div>
    
      <div class="tag-filter">
      {% include 'tag-filter' %}
      </div> 
    </div>
    </div>
    <div class="row products">
  <div id="product-column">
    {% for product in collection.products %}
      {% include 'product-loop' with collection.handle %}
    {% endfor %}
  </div>
  </div>

    <div class="bottom-page"><div id="bottom-pagination">{% include 'pagination' %}</div></div>

  {% endpaginate %}
  
  </div> 
  </div>

</div> 

<script>
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
      var newTags = [];
      var newURL = '';
      delete Shopify.queryParams.page;
      collFilters.each(function() { 
        if (jQuery(this).val()) {
          newTags.push(jQuery(this).val());
        }
      });
      {% if collection.handle %}
      newURL = '/collections/' + '{{ collection.handle }}';
      if (newTags.length) {
        newURL += '/' + newTags.join('+');
      }
      var search = jQuery.param(Shopify.queryParams);
      if (search.length) {
        newURL += '?' + search;
      }
      location.href = newURL;    
      {% else %}
      if (newTags.length) {
        Shopify.queryParams.constraint = newTags.join('+');        
      }
      else {
        delete Shopify.queryParams.constraint;
      }
      location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
      {% endif %}      
  });
  jQuery('.sort-by')
    .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
    .bind('change', function() {
      Shopify.queryParams.sort_by = jQuery(this).val();
      location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
    });
</script>
