<div class="full_width">
	      <div id="product-{{ product.id }}">
  	 {% if settings.product_images_position == 'left' %}             
       <div class="product_left">
         {% include 'product-images' %}
        </div>
     {% endif %}

     <div class="product_right">
       <h1 class="product_name" itemprop="name">{{ product.title }}</h1>
       {% if settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
       {% endif %}

      {% assign variant = product.selected_or_first_available_variant %}
      <p class="modal_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
         <meta itemprop="currency" content="{{ shop.currency }}" />
         <meta itemprop="seller" content="{{ shop.name | escape }}" />
         <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
         
         <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
         <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price">
              {% if variant.available %}
                {{ variant.price | money }} 
              {% endif %}
            </span>
         </span>
         <span class="was_price">
          {% if variant.price < variant.compare_at_price %}
            {{ variant.compare_at_price | money }}
          {% endif %}
         </span>
      </p>
     
 
          <div class="description" itemprop="description">
           {% include 'product-tabs-iphone-plus' %}
          </div>

       {% include 'product-form' with 'product' %}


            </div>

  </div>
</div>
  