 <h4 class="title center">Actual Images Taken with the Lenzo Housing</h4>
 <p class="bottom-border"></p>
<ul class="slides" id="img_thumbs">
<li>
<a class="my_images" href="{{'image2.JPG' | asset_url}}">
<img src="{{'image1thumb.jpg' | asset_url}}" alt=""/>
</a>
</li>
<li>
<a class="my_images" href="{{'image1.JPG' | asset_url}}">
<img src="{{'image2thumb.jpg' | asset_url}}" alt=""/>
</a>
</li>
<li>
<a class="my_images" href="{{'image3.jpg' | asset_url}}">
<img src="{{'image3thumb.jpg' | asset_url}}" alt=""/>
</a>
</li>
<li>
<a class="my_images" href="{{'image4.jpg' | asset_url}}">
<img src="{{'image4thumb.jpg' | asset_url}}" alt=""/>
</a>
</li>
<li>
<a class="my_images" href="{{'image5.jpg' | asset_url}}">
<img src="{{'image5thumb.jpg' | asset_url}}" alt=""/>
</a>
</li>
<li>
<a class="my_images" href="{{'image6.jpg' | asset_url}}">
<img src="{{'image6thumb.jpg' | asset_url}}" alt=""/>
</a>
</li>  
  
  
  </ul>




<script>
  $("a.my_images").fancybox();
</script>
