{% for link in linklists[settings.main_linklist].links %}
                {% if linklists[link.handle] == empty %}
                  <li><a href="{{ link.url }}" title="{{ link.title }}" class="top-link {% if link.active %}active{% endif %}">{{ link.title }}</a></li>
                {% else %}

                  {% comment %}
                    Find out how many sub-links there are total in order to determine if the drop down should be split.
                  {% endcomment %}
                  {% assign count = 0 %}
                  {% for link in linklists[link.handle].links %}
                    {% capture count %}{{ count }}*{% endcapture %}
                    {% if linklists[link.handle] != empty %}
                      {% for link in linklists[link.handle].links %}
                        {% capture count %}{{ count }}*{% endcapture %}
                      {% endfor %}
                    {% endif %}
                  {% endfor %}
                  {% assign column_threshold = settings.dropdown_column_links | minus: 0 %}

                  <li><a href="{{ link.url }}" title="{{ link.title }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ link.title }}                     
                    <span class="arrow">▾</span></a> 
                    <div class="dropdown {% if count.size > column_threshold %}dropdown-wide{% endif %}">
                      <ul>
                        {% assign count = 0 %}
                        {% assign split = false %}
                        {% for link in linklists[link.handle].links %}
                          {% capture count %}{{ count }}*{% endcapture %}
                          <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
                          {% if linklists[link.handle] != empty %}
                            {% for link in linklists[link.handle].links %}
                              {% capture count %}{{ count }}*{% endcapture %}
                        
                       
                        
                              <li>
                                <a class="sub-link" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                              </li>
                            {% endfor %}
                          {% endif %}

                          {% if count.size > column_threshold and split == false %}
                            {% assign split = true %}
                        </ul>
                            <ul>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}