  <!-- Begin footer -->
  <div class="footer-wrapper wrapper">
    <footer>
      <div class="row">

        <div class="span12 full-border"></div>

        {% capture footer_columns %}{% if settings.footer_display_blog %}+{% endif %}{% if settings.footer_display_navigation %}+{% endif %}{% if settings.footer_display_newsletter %}+{% endif %}{% if settings.footer_display_social %}+{% endif %}
        {% endcapture %}
        {% if footer_columns.size == 1 %}{% assign footer_span_size = 'span12' %}{% endif %}
        {% if footer_columns.size == 2 %}{% assign footer_span_size = 'span6' %}{% endif %}
        {% if footer_columns.size == 3 %}{% assign footer_span_size = 'span4' %}{% endif %}
        {% if footer_columns.size == 4 %}{% assign footer_span_size = 'span3' %}{% endif %}

    
        <div id="footer">
        {% if settings.footer_display_newsletter %}
        <!-- Begin newsletter -->
          <div class="footer_newsletter footer_block">
            <div class="p30">
              <h4>Join The Mailing List</h4>
              <span>Sign up for updates about new jewelry, exclusive news, and special sales.</span>
              <form action="{{ settings.mailing_list_form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
                <input type="email" value="" placeholder="Your Email" name="EMAIL" id="mail" /><input type="submit" class="btn newsletter" value="Submit" name="subscribe" id="subscribe" />
              </form>
            </div>
          </div>
        <!-- End newsletter -->
        {% endif %}
        

        {% if settings.footer_display_navigation and linklists.footer.links.size > 0 %}
        <!-- Begin footer navigation -->
        <div class=" footer_block footer-menu">
          <h4>{{ 'layout.footer.quick_links' | t }}</h4>
          <ul class="unstyled">
            {% for link in linklists.footer.links %}
              <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>

        </div>
        <!-- End footer navigation -->
        {% endif %}

        

        {% if settings.footer_display_social %}
        <!-- Begin social -->
        
          <div class="footer_block social-media">
            
       <div class="footer_contact">
              <h4>CONTACT US!</h4>
         <p><i class="fa fa-phone"></i><span>678-695-3682</span> </p>
              <p><i class="fa fa-envelope"></i><span>
                <a href="mailto:customerservice@freshprincessjewelry.com">customerservice@freshprincessjewelry.com</a></span></p>
            </div>
            
            
            <h4>{{ 'layout.footer.follow_us' | t }}</h4>
          
          
{% if settings.facebook_link != '' %}<a href="{{ settings.facebook_link }}" title="Facebook"><i class="fa fa-facebook"></i></a>{% endif %}
{% if settings.twitter_link != '' %}<a href="{{ settings.twitter_link }}" title="Twitter"><i class="fa fa-twitter"></i></a>{% endif %}
{% if settings.google_link != '' %}<a href="{{ settings.google_link }}" title="Google Plus" rel="publisher"><i class="fa fa-google"></i></a>{% endif %}  
{% if settings.instagram_link != '' %}<a href="{{ settings.instagram_link }}" title="Instagram"><i class="fa fa-instagram"></i></a>{% endif %}
{% if settings.pinterest_link != '' %}<a href="{{ settings.pinterest_link }}" title="Pinterest"><i class="fa fa-pinterest-p"></i></a>{% endif %}
{% if settings.vimeo_link != '' %}<a href="{{ settings.vimeo_link }}" title="Vimeo"><i class="fa fa-flickr"></i></a>{% endif %}
{% if settings.youtube_link != '' %}<a href="{{ settings.youtube_link }}" title="Youtube"><i class="fa fa-youtube-play"></i></a>{% endif %}
{% if settings.tumblr_link != '' %}<a href="{{ settings.tumblr_link }}" title="Tumbler"><i class="fa fa-tumblr-square"></i></a>{% endif %}
 {% if settings.linkedin_link != '' %}<a href="{{ settings.linkedin_link }}" title="Linkedin"><i class="fa fa-linkedin"></i></a>{% endif %}
            
       
          
          </div>
        
        <!-- End social -->
        {% endif %}
          
        </div>

       

      </div>
    </footer>
  </div>
  <!-- End footer -->