  <div class="full_width" id="footer_wrapper">
      <div class="sub-footer">
        <div class="fixed_width">

          <div class="footer_block">
<!--  {% if settings.footer_content_page != blank %}
              <h4 class="title">{{ pages[settings.footer_content_page].title }}</h4>
              {{ pages[settings.footer_content_page].content | truncate:170}}
            {% endif %} 
            
            <div class="footer_logo"> <img src="{{'logo-footer.png' | asset_url}}"/></div>
            -->
               {% if settings.newsletter_enabled %}
              <h4 class="title">Sign In</h4>
             
              {% include 'newsletter' %}
            {% endif %}
          </div>

          <div class="footer_block">
     
            <h4>Search</h4>
            <form action="/search">
            
                <input type="hidden" name="type" value="product" />
              
              <span class=" search-submit">Search</span>
              <input type="text" name="q" placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
            </form>
          
        
     
           <div class=" credits_right">
            <div class="payment_methods ">
              {% if settings.use_paypal %}<img src="{{ 'cc-paypal.png' | asset_url }}" alt="PayPal" />{% endif %}
              {% if settings.use_bitcoin %}<img src="{{ 'cc-bitcoin.png' | asset_url }}" alt="Bitcoin" />{% endif %}
              {% if settings.use_visa %}<img src="{{ 'cc-visa.png' | asset_url }}" alt="Visa" />{% endif %}
              {% if settings.use_visaelectron %}<img src="{{ 'cc-visaelectron.png' | asset_url }}" alt="Visa Electron" />{% endif %}
              {% if settings.use_mastercard %}<img src="{{ 'cc-mastercard.png' | asset_url }}" alt="Mastercard" />{% endif %}
              {% if settings.use_amex %}<img src="{{ 'cc-amex.png' | asset_url }}" alt="American Express" />{% endif %}
              {% if settings.use_cirrus %}<img src="{{ 'cc-cirrus.png' | asset_url }}" alt="Cirrus" />{% endif %}
              {% if settings.use_delta %}<img src="{{ 'cc-delta.png' | asset_url }}" alt="Delta" />{% endif %}
              {% if settings.use_discover %}<img src="{{ 'cc-discover.png' | asset_url }}" alt="Discover" />{% endif %}
              {% if settings.use_western_union %}<img src="{{ 'cc-westernunion.png' | asset_url }}" alt="Western Union" />{% endif %}
            </div>
          </div>
          </div>

          <div class="footer_block">
            <h4>Follow</h4>

            {% if settings.social_icons_footer %}
            <ul class="social_icons">
              {% if settings.twitter_link != '' %}
                <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
              {% endif %}
              
              {% if settings.facebook_link != '' %}
                <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
              {% endif %}
              
              {% if settings.google_link != '' %}
                <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-google-plus"></a></li>
              {% endif %}
              
              {% if settings.youtube_link != '' %}
                <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
              {% endif %}

              {% if settings.vimeo_link != '' %}
                <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo-2"></a></li>
              {% endif %}
              
              {% if settings.pinterest_link != '' %}
                <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
              {% endif %}
              
              {% if settings.tumblr_link != '' %}
                <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
              {% endif %}
              
              {% if settings.linkedin_link != '' %}
                <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
              {% endif %}
              
              {% if settings.flickr_link != '' %}
                <li><a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr"></a></li>
              {% endif %}

              {% if settings.instagram_link != '' %}
                <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
              {% endif %}

              {% if settings.email_link != '' %}
                <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
              {% endif %}
            </ul>
            {% endif %}
            
            
          
            
          </div>




        </div>
      </div> </div>
         <div class="full_width" id="sub_footer_wrapper">
     
        <div class="fixed_width">
          <p>*Apple and iPhone are trademarks of Apple Computer Inc. Apple Computer Inc. is not affiliated with ValsTech, Inc. and is not responsible in any way for your use of the Product.</p>
          <p> &copy; 2016 Valstech.</p>
          </div>


    



    </div>
 