<li><a href="http://valstech.myshopify.com/" title="home" class="top-link">Home</a></li>
<li><a href="/collections/all" title="products" class="top-link">Products</a>
<div class="dropdown product-section fade-in" id="custom-nav">
<ul>
<li>
<a class="sub-link" href="/products/lenzo-iphone-6-6s-housing-pre-order" title="LenzO™ iPhone 6/6S Underwater Housing">
  <div class="product-nav">
  <span class="custom-nav-img"><img src="{{'iphone6s.png' | asset_url }}"/></span>
  <span> LenzO™ iPhone 6/6S Underwater Housing</span>
  </div>
  </a>
</li>
<li>
<a class="sub-link" href="/products/lenzo-iphone-6-plus-6s-plus-housing-pre-order" title="LenzO™ iPhone 6 Plus/6S Plus Underwater Housing Pre-Order">
  <div class="product-nav">  <span class="custom-nav-img"><img src="{{'iphone6splus.png' | asset_url }}"/></span>
  <span>LenzO™ iPhone 6 Plus/6S Plus Underwater Housing Pre-Order</span>
  </div>
</a>
</li>
  
<li>
<a class="sub-link" href="/pages/parts" title="parts">
  <div class="product-nav">  <span class="custom-nav-img"><img src="{{'iphone6splus.png' | asset_url }}"/></span>
  <span>Parts</span>
  </div>
</a>
</li>
  
</ul>
</div></li>
<li><a href="/pages/about-us" title="about-us" class="top-link">About Us</a>

<div class="dropdown fade-in" id="custom-nav">
<ul>
<li>
  <a class="sub-link" href="/pages/testimonials" title="Testimonials"> Testimonials
 </a>
  </li>

</ul>
</div>
</li>
<li><a href="/pages/gallery" title="home" class="top-link">Gallery </a></li>
<li><a href="" title="home" class="top-link">Support</a>
<div class="dropdown fade-in support" id="custom-nav">
<ul>
<li>
  <a class="sub-link" href="/pages/how-to-videos" title="How to Videos">
 <img src="{{'video.png' | asset_url}}" /> How to Videos
  </a>
  </li>
<li>
  <a class="sub-link" href="/pages/operation-manual" title="Operation Manual">
    <img src="{{'om.png' | asset_url}}" /> Operation Manual
  </a>
<!--
  <div class="sub-dropdown fade-in" id="sub-sub-link">
<ul>
  <li><img src="{{'english.jpg' | asset_url}}" /><a href="/pages/english" title="">English</a></li>
  <li><img src="{{'spain.jpg' | asset_url}}" /><a href="/pages/spanish" title="">Spanish</a></li>
  <li><img src="{{'france.jpg' | asset_url}}" /><a href="/pages/french" title="">French</a></li>
  <li><img src="{{'italy.jpg' | asset_url}}" /><a href="/pages/italian" title="">Italian</a></li>
  <li><img src="{{'germany.jpg' | asset_url}}" /><a href="/pages/german" title="">German</a></li>
  <li><img src="{{'china.jpg' | asset_url}}" /><a href="/pages/chinese" title="">Chinese</a></li>
  <li><img src="{{'russia.jpg' | asset_url}}" /><a href="/pages/russian" title="">Russian</a></li>
</ul>
</div> -->
</li>
<li>
  <a class="sub-link" href="/pages/3rd-party-apps-developers" title="3rd party Apps/Developers">
    <img src="{{'apps-developer.png' | asset_url}}" /> 3rd party Apps/Developers
  </a>
</li>
<li>
  <a class="sub-link" href="http://www.valstech.com/pages/resellers" title="Distributors/Resellers">
    <img src="{{'distributor.png' | asset_url}}" /> Distributors/Resellers
  </a>
</li>
<li>
  <a class="sub-link" href="www.valstech.com/pages/resources" title="Press/Media">
   <img src="{{'media.png' | asset_url}}" />  Press/Media
  </a>
</li>

</ul>
</div>
</li>
<li><a href="" title="home" class="top-link">Contact Us</a></li>



<style>
  

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:0.4s;
  -moz-animation-duration:0.4s;
  animation-duration:0.4s;
}

.fade-in.one {
  -webkit-animation-delay:0.5s;
  -moz-animation-delay:0.5s;
  animation-delay: 0.5s;
}

.fade-in.two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay:1.5s;
  animation-delay:1.5s;
}
  
 
  </style>





          