
  {{ "simple.carousel.js" | asset_url | script_tag }}
    
       
    <script type="text/javascript">
        jQuery(document).ready(function() {
            // example 1
            $("ul.example1").simplecarousel({
                width:470,
                visible: 1,
                next: $('.next'), 
                prev: $('.prev')
            });
            
        });
        
    </script>
    
    <style>


    </style>

<div class="left_img_slider">

  
  
<div class="slidenav">   <span class="prev"><img src="{{ 'left-arrow.jpg' | asset_url }}" alt="" /></span>
    <span class="next"><img src="{{ 'right-arrow.jpg' | asset_url }}" alt="" /></span>

  </div>
 <ul class="example1">
    <li>
   <img src="{{'LENZO_BLACK.jpg' | asset_url}}" /></li>
 <li>
   <img src="{{'LENZO_YELLOW.jpg' | asset_url}}" /></li>

  </ul>

</div>
