<div class="full_width">
	      <div id="product-{{ product.id }}">
  	 {% if settings.product_images_position == 'left' %}             
       <div class="product_left">
         {% include 'product-images' %}
        </div>
     {% endif %}

     <div class="product_right">
       <h1 class="product_name" itemprop="name"><a href="{{product.url}}">{{ product.title }}</a></h1>
       {% if settings.display_vendor %}
          <p class="vendor">
            <span itemprop="brand">{{ product.vendor | link_to_vendor }}</span>
          </p>
       {% endif %}

      {% assign variant = product.selected_or_first_available_variant %}
      <p class="modal_price" itemprop="offerDetails" itemscope itemtype="http://data-vocabulary.org/Offer">
         <meta itemprop="currency" content="{{ shop.currency }}" />
         <meta itemprop="seller" content="{{ shop.name | escape }}" />
         <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
         
         <span class="sold_out">{% if variant.available == false %}{{ 'products.product.sold_out' | t }}{% endif %}</span>
         <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
            <span class="current_price">
              {% if variant.available %}
                {{ variant.price | money }} 
              {% endif %}
            </span>
         </span>
         <span class="was_price">
          {% if variant.price < variant.compare_at_price %}
            {{ variant.compare_at_price | money }}
          {% endif %}
         </span>
      </p>
<!--        
       <div id="shopify-product-reviews" data-id="{{product.id}}">
  			{{ product.metafields.spr.reviews }}
 	 	</div> -->
     
{% if product.available %}
  <form action="/cart/add" method="post" class="clearfix product_form" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}">
    
    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if product.variants.first.inventory_management == "shopify" and product.variants.first.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if product.variants.first.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}

          <p><em>{{ product.variants.first.inventory_quantity }} {{ items_left_text }}</em></p>
        {% endif %}
      </div>
    {% endif %}
    
    {% if product.options.size > 1 %}
      
    <div class="select">
        <select id="product-select-{{ product.id }}" name='id'>

          {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and (product.variants.size > 1 or product.options[0] != "Title") %}
      <div class="select">
<!--         <label>{{ product.options[0] }}:</label> -->
        <select id="product-select-{{ product.id }}" name='id'>
          {% for variant in product.variants %}
            <option {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
    {% endif %}
 
    {% if settings.display_product_quantity %}
      <div class="left">
        <label for="quantity">{{ 'products.product.quantity' | t }}:</label>
        <input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" />
      </div>
    {% endif %}
 <!--   <div class="purchase clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
      {% if settings.cart_return == 'back' %}
        <input type="hidden" name="return_to" value="back" />
      {% endif %}
      <input type="submit" name="add" id="addToCart" value="" class="action_button add_to_cart"/>
    </div>  -->
    
    <a href="{{product.url}}" class="action_button add_to_cart">See Details</a> 
  </form>

  {% if product.variants.size > 1 or product.options.size > 1 %}
    <script type="text/javascript">
      // <![CDATA[  
        $(function() {    
          $product = $('#product-' + {{ product.id }});
          new Shopify.OptionSelectors("product-select-{{ product.id }}", { product: {{ product | json }}, onVariantSelected: selectCallback{% if product-form == 'product' %}, enableHistoryState: true{% endif %} });          
        });
      // ]]>
    </script>
  {% endif %}
{% endif %}
       
          <div class="description" itemprop="description">
           {% include 'product-tabs' %} 
          </div>
       
       

    </div>
  </div>
</div>
  