<div class="full_width" id="page">
  <div class="fixed_width">
  <h2 class="page_title">
    {{ page.title }}
  </h2>

<ul id="video_thumbs">
        {% for i in (1..12) %}
          {% capture show_video%}video_show_{{ i }}{% endcapture %}
          {% capture iframe %}iframe_code_{{ i }}{% endcapture %}
          {% capture vphotographer %}vphotographer_name_{{ i }}{% endcapture %}
          {% capture vtype %}vcamera_type_{{ i }}{% endcapture %}
          {% capture vhousing %}vmodel_of_housing_{{ i }}{% endcapture %}
          {% capture vnote %}video_note_{{ i }}{% endcapture %}
          {% if settings[show_video] %}
          <li>
      <div class="video_frame">{{ settings[iframe]}}</div>
   <div class="video_desc"> 
   <span class="photographer_name"><strong>Photographer</strong> :{{ settings[vphotographer]}}</span>
    <span class="cam_type"><strong>Type of Camera</strong> :{{ settings[vtype]}}</span>
     <span class="model_housing"><strong>Model housing</strong> : {{ settings[vhousing]}}</span>
    <span class="img_note"> {{ settings[vnote]}}</span>
    </div>
          </li>
          {% endif %}
        {% endfor %} 
  
  
  </ul>



  </div>
</div>

