{% if settings.slide_1 != false or settings.slide_2 != false or settings.slide_3 != false or settings.slide_4 != false %}
<!-- Begin slider -->
<div class="slider_pro">
  <div class="flexslider-container">
    <div class="flexslider">
      <ul class="slides">
        {% for i in (1..4) %}
          {% capture show_slide %}slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="{{ settings[link] }}">
              <img src="{{ image | asset_url }}" alt="{{ settings[alt] | escape }}" />
            </a>
          </li>
          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>
<!-- End slider -->
{% endif %}


<div class = "collection_combo">
  <div class = "collection_left">
     <div class = "collection_left_inner">
       <span class = "colection_heading"> {{collections.[settings.new_arrival].title}}</span>
  {% for product in collections.[settings.new_arrival].products  limit:'2' %}

   {% include 'product-loop' %}
    {% endfor %}
  
  </div>
  </div>
  
  <div class = "collection_right">
      <div class = "collection_top col-common">
          <div class = "collection_right_inner">
            
 <a href = "{{collections.[settings.featured_press].url}}"><div class = "second_collection_image">
         <div class = "featured_press">
              <span class = "colection_heading">{{collections.[settings.featured_press].title}}</span>
      <img src="{{ 'second_collection.png' | asset_url }}" alt="" />
      </div>
      
         </div>
         </a>
       </div></div>
    <div class = "collection_bottom col-common">
        <div class = "collection_right_inner">
 <a href = "{{collections.[settings.featured_collection].url}}">
         <div class = "featured_collection">
            <span class = "colection_heading"> {{collections.[settings.featured_collection].title}}</span>
      <img src="{{ 'third_collection.png' | asset_url }}" alt="" />
      </div>
        </a>
   
       
      </div>
    
    </div>
  
  </div>
</div>

<div class = "collection_compound">
  
    <div class = "compound" id="order_over">
       <a href = "{{collections.[settings.orders_over].url}}"><div class = "second_collection_image">
      <img src="{{ 'orders_over_image.jpg' | asset_url }}" alt="" />
         <div class="text_on_img"><div id="text_img">
           <div class="text_img_inner">{{settings.orders_over_text}}</div>
           </div></div>
      </div>
      </a>
    </div>
  
  <div class = "compound" id="on_all_orders">
    <a href = "{{collections.[settings.on_all_orders].url}}"><div class = "first_collection_image">
      <img src="{{ 'on_all_orders_image.jpg' | asset_url }}" alt="" />

      <div class="text_on_img"><div id="text_img"><div class="text_img_inner">{{settings.on_all_order_text}}</div></div>
      </div></div>
      </a>
  </div>
    
    <div class = "compound" id="womens_collection">
       <a href = "{{collections.[settings.womens_collection].url}}"><div class = "third_collection_image">
      <img src="{{ 'womens_collection_image.jpg' | asset_url }}" alt="" />

         <div class="text_on_img"><div id="text_img"><div class="text_img_inner">{{settings.women_collection_text}}</div></div>
         </div></div>
      </a>
    </div>
  
</div>



<!-- start content page -->
{% if settings.homepage != '' %}
  {% assign helper_welcome = false %}
  
  {% if pages[settings.homepage].content contains 'where users go when first trying to determine a level of trust' %}
    {% assign helper_welcome = true %}
  {% endif %}

  {% if pages[settings.homepage].content contains 'Write a few sentences to tell people about your store' %}
    {% assign helper_welcome = true %}
  {% endif %}

  <div class="span12 clearfix {% if helper_welcome %}helper-section{% endif %}">
    {% if helper_welcome %}
    <div class="note helper-note helper-homepage-page">
      <i class="icon-pages helper-icon"></i>
      <h3>{{ 'home_page.onboarding.page_title' | t }}</h3>
      <p>{{ 'home_page.onboarding.page_text' | t }}</p>
      <p><a href="/admin/pages" class="admin-btn-primary">{{ 'home_page.onboarding.edit_page' | t }}</a><a class="secondary-action" href="/admin/themes/current/settings">{{ 'home_page.onboarding.view_settings' | t }}</a></p>
    </div>
    {% endif %}
    <div class="p30 clearfix  {% if helper_welcome %}helper-content{% endif %}">
      <div class="intro clearfix">
        <h2>{{ pages[settings.homepage].title }}</h2>
        {{ pages[settings.homepage].content }}
      </div>
    </div>
  </div>
{% endif %}
<!-- end content page -->
