<div id="search">
  {% if search.performed %}
  {% paginate search.results by settings.pagination_limit %}

 <div id="collection-section">
   <div id="collection-left">
     {%include 'collection-sidebar' %}
  </div>
  <div id="collection-right">
   <div class="collection-right-header-wrapper">
    <div class="collection-right-header">
   <!-- <div class="product-count"><p>{{ items_count }} Products</p></div> -->
  


 
      <div id="pagination">{% include 'pagination' %}</div>
    
      <div class="tag-filter">
      {% include 'tag-filter' %} 
      </div> 
    </div>
    </div>
    <div class="row products">
  <div id="product-column">
    {% for product in search.results %}
  {% include 'product-loop' with collection.handle %}
  {% endfor %}
  </div>
  </div>

    <div class="bottom-page"><div id="bottom-pagination">{% include 'pagination' %}</div></div>


  
  </div> 
  </div>


  


  {% endpaginate %}
  
  {% else %}

  <div class="row">
    <div class="span12 expanded-message">
      <div class="search-field">
        <form class="search" action="/search">
          <input type="image" src="{{ 'icon-search.png' | asset_url }}" alt="Go" id="go">
          <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}" value="" />
        </form>
      </div>
    </div>
  </div>

  {% endif %}	
</div> <!-- /#search -->



<script>
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
      var newTags = [];
      var newURL = '';
      delete Shopify.queryParams.page;
      collFilters.each(function() { 
        if (jQuery(this).val()) {
          newTags.push(jQuery(this).val());
        }
      });
      {% if collection.handle %}
      newURL = '/collections/' + '{{ collection.handle }}';
      if (newTags.length) {
        newURL += '/' + newTags.join('+');
      }
      var search = jQuery.param(Shopify.queryParams);
      if (search.length) {
        newURL += '?' + search;
      }
      location.href = newURL;    
      {% else %}
      if (newTags.length) {
        Shopify.queryParams.constraint = newTags.join('+');        
      }
      else {
        delete Shopify.queryParams.constraint;
      }
      location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
      {% endif %}      
  });
  jQuery('.sort-by')
    .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
    .bind('change', function() {
      Shopify.queryParams.sort_by = jQuery(this).val();
      location.search = jQuery.param(Shopify.queryParams).replace(/\+/g, '%20');
    });
</script>
